.aisalogo {
    height: 70%;
    width: 80%;
}
.container_home {
    height: 80vh;
}
.bor {
    border-right: 1px solid black;
}
.text {
    /* margin-top: 20%; */
    margin-left: 10%;
    font-size: 55px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.grey-text {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #1585a8;
}
.subtitle {
    font-size: 30px;
    margin-left: 10%;
}
.homeslider {
    width: 70%;
}
.homeslider img {
    height: 80vh;
}
.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80%; */
}

@media screen and (max-width: 480px) {
    .aisalogo {
        height: 100%;
    }
    .text {
        margin-top: 0%;
        margin-left: 0%;
    }
    .subtitle {
        font-size: 30px;
        margin-left: 0%;
    }
    .homeslider img {
        height: 35vh;
    }
    .bor {
        border-right: none;
    }
    .heroSection {
        flex-direction: column;
        text-align: center;
    }
    .bor {
        border: none;
    }
    .col {
        /* display: flex; */
        flex: none;
    }
}
