.text1 {
  font-size: 36px;
  font-weight: bold;
  /* margin-right: 30px; */
  color: #fff;
}
.btn-primary{
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-primary:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .btn-primary{
    padding: 0 2.6rem;
  }
}

.btn-secondary{
  background-color: lightgrey;
  color: black;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
}

/* .del {
  color: rgba(255,56,56, 0.5);
  text-decoration: none;
  position: relative;
}
.del::before {
  content: " ";
  display: block;
  width: 75%;
  border-top: 2px solid rgba(255,56,56, 0.8);
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-10deg);
} */


ins {
  color: green;
  font-size: 32px;
  text-decoration: none;
  padding: 1em 1em 1em 0.5em;
}

.sponsor {
  margin-top: 9rem !important;
  margin-bottom: 10rem !important;
}
.text-justify {
  text-align: justify;
}
/* name */
.text2 {
  font-size: 24px;
  font-weight: bold;
}
.dss-text {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  /* text-align: justify; */
  text-align: justify;
}
/* image */
.team-img {
  margin-top: 50px;
  width: 60% !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

/* cards */
.row .mycard {
  height: 430px;
  width: auto;
  overflow: hidden;
  border-radius: 15px;
  background-color: #1585a8;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.btn-width{
  width: 12% !important;
}
.landing_img{
  width: 25%;
}
/* icons */
.mycard .icon {
  font-size: 26px;
  cursor: pointer;
  color: antiquewhite;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
}

/* hover effect on icons */
.mycard:hover .icon {
  opacity: 1;
  visibility: visible;
  padding: 5px;
  font-size: 28px;
}

/* hover effect on image */
.mycard:hover .team-img {
  padding-bottom: 5px;
  margin-top: -2%;
  width: 50% !important;
}

/* hover effect on card */
.mycard:hover {
  background: #115e75;
  color: #fff;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.card-wrapper {
  padding: 50px;
}
.c1 {
  margin: 0 0.5em;
  width: calc(100% / 3);
  border-radius: 20px;
}
.image-wrapper {
  height: 22vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 15vw;
}

.text1 {
  font-size: 48px;
  margin-top: 20px;
  color: black;
}
.carousel{
  margin-left: 10%;
  margin-right: 10%;
}
.carousel img{
  
  height: max-content ;
}

@media screen and (max-width: 780px) {
  .card-col {
    width: auto;
    height: auto;
  }
  .price{
    margin-left: auto;
    margin-right: auto;
}
.del::before {
    content: " ";
    display: block;
    width: 200%;
    border-top: 2px solid rgba(255,56,56, 0.8);
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-10deg);
  }
  .btn-width{
    width: 50% !important;
  }

  .row .card {
    margin-left: 0%;
  }
  .carousel{
    margin-left: 0%;
    margin-right: 0%;
  }
  .carousel img{
    
    height: max-content ;
  }
  .landing_img{
    width: 80%;
  }
}

@media screen and (max-width: 770px) and (min-width: 575px) {
  .row .card {
    width: 300px;
    margin-left: 0%;
  }
}
