.navbarText {
    font-size: 20px;
}
.daa-nav{
    color:   red !important;
    font-weight: bold;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img.navbar-logo {
    width: 40%;
}
a{
    color: black !important;
}
@media screen and (max-width: 480px) {
    img.navbar-logo {
        width: 70%;
    }
}
