@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    /* Background gradient color */
    /* background: rgb(2, 0, 36);
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    width: 100%;
}

/* heads */
.text1 {
    font-size: 36px;
    font-weight: bold;
    /* margin-right: 30px; */
    color: #fff;
}

/* name */
.text2 {
    font-size: 24px;
    font-weight: bold;
}

/* image */
.team-img {

    margin-top: 50px;
    width: 60% !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

/* cards */
.row .mycard {
    height: 430px;
    width: auto;
    overflow: hidden;
    border-radius: 15px;
    background-color: #1585A8;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

/* icons */
.mycard .icon {
    font-size: 26px;
    cursor: pointer;
    color: antiquewhite;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}

/* hover effect on icons */
.mycard:hover .icon {
    opacity: 1;
    visibility: visible;
    padding: 5px;
    font-size: 28px;
}

/* hover effect on image */
.mycard:hover .team-img {
    padding-bottom: 5px;
    margin-top: -2%;
    width: 50% !important;
}

/* hover effect on card */
.mycard:hover {
    background: #115e75;
    color: #fff;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}



@media screen and (max-width:780px) {
    .card-col {
        width: auto;
        height: auto;
    }

    .row .card {
        margin-left: 0%;
    }

}

@media screen and (max-width:770px) and (min-width:575px) {


    .row .card {
        width: 300px;
        margin-left: 0%;
    }

}