.event {
    margin: 5% 15%;
    background-color: rgb(64, 170, 205);
    margin-top: 10px;
    border-radius: 10px;
}
.btn{
    padding: 4px 4px ;
}

.detail {
    display: flex;
    background-color: #d4d4fae9;
    padding-bottom: 10px;
}

.eventName {
    padding-top: 12px;
    font-size: 60px;
    color: black;
    text-transform: uppercase;

}

.image img {
    width: 100%;
    height: 600px;
}

.title {
    color: black;
    padding-top: 4px;
    font-size: 40px;
    padding-left: 70px;
    padding-right: 10px;
    text-transform: uppercase;
    text-decoration: underline;
}

.description {
    padding-right: 80px;
    padding-left: 80px;
    color: black;
}

.btn-style {
    width: 110px;
    margin-top: 95px;
    margin-right: 40px;
    background-image: linear-gradient( 190deg,#6a517981,#394e4c86);
}


@media only screen and (max-width: 1200px) {
    .title {
        font-size: 40px;
        padding-left: 92px;
        padding-right: 22px;
        text-transform: uppercase;
    }
    .btn-style{
        margin-top: 140px;
    }
}

@media only screen and (max-width: 1100px) {
    .title {
        font-size: 40px;
        padding-left: 52px;
        padding-right: 0px;
        margin-right: -40px;
        text-transform: uppercase;
    }
    .btn-style{
        margin-top: 170px;
    }


}

/* @media only screen and (max-width: 850px) {
    .title {
        font-size: 40px;
        padding-left: 50px;
        padding-right: 4px;
        text-transform: uppercase;
    }
} */

@media only screen and (max-width: 850px) {
    .detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .eventName {
        font-size: 35px;
        margin-bottom: -20px;
        margin-top: 15px;
    }

    .description {
        padding: 0 0;
    }

    .title {
        display: none;
    }

    .event {
        margin: 5% 5%;
    }

    .image img {
        width: 100%;
        height: 255px;
    }

    .description {
        font-size: large;
        text-align: center;
    }

    .btn-style {
        margin: 5px;
      
    }
}
